.theadStyle {
  background: linear-gradient(0deg, #eee, #fefefe);
  height: 40px;
  border: 1px solid black;
}
.theadTd {
  position: relative
}
.triangle_down { 
  width: 0;
  height: 0;
  border-width: 8px 8px 0;
  border-style: solid;
  border-color: #333 transparent transparent; 
  position: absolute;
  top: 20px;
  cursor: pointer;
}
.triangle_up {
  width: 0;
  height: 0;
  border-width: 0 8px 8px;
  border-style: solid;
  border-color: transparent transparent #333;
  position: absolute;
  top: 8px;
  cursor: pointer;
}
.tableStyle{
  background: white;
  text-align: center;
  margin: 0;
  padding: 0
}
